@model reffffound.Models.Bookmark
@{
	ViewData["Title"] = "Bookmarks Details..";
}

<div class="assets">
	<blockquote class="bookmarkblock">

		<p class="bookmarkheader">
			<span class="quoted">Quoted From:</span>&nbsp;
			<span class="headerlink"><a target="_blank" href="@Model.Url">@Model.Title</a></span><br />
			<span class="headerurl">@Model.Url</span>
		</p>

		<table>
			<tr>
				<td style="width:500px;" valign="top">
					<p class="bookmarkimage">
						@if (false && @Model.Image.Contains("archive.org"))
						{
							<image style="max-width:500px;height:auto;" src="~/assets/internetarchive_ddos_message.png"></image>
						}
						else
						{
							<image style="max-width:500px;height:auto;" src="@Model.Image"></image>
							<br />
							<span class="flaglink"><a class="" asp-controller="Home" asp-action="Copyright">Flag this image</a></span>
						}

					</p>
				</td>
				<td style="vertical-align:top;width:75px;height:auto;">
					<!-- No Contextlinks here. yet.. -->
				</td>
			</tr>
		</table>

		<p class="bookmarkfooter componentTodo">
			<span class="posted"> Posted on @Html.DisplayFor(model => model.Timestamp) </span><br />
			Saved By @Model.Savedby People: @foreach (var username in Model.Usercontext.Replace(" ", "").Split(','))
			{
				<a class="nav-link text-dark" style="display:inline;padding:2px;" asp-area="" asp-controller="Bookmarks" asp-action="List" asp-route-username="@username" asp-route-filter="post" asp-route-page="1">@username</a>
			}
		</p>

	</blockquote>
</div>

<div>
	@await Component.InvokeAsync("UsersRelated")
</div>
<div style="height:1px;float:none;clear:both;"></div>
<div>
	@await Component.InvokeAsync("UsersContext")
</div>


<div class="staticmenu">
	@if (@ViewBag.ReferAction != "")
	{
		<a asp-controller="Bookmarks" asp-action="@ViewBag.ReferAction" asp-route-username="@ViewBag.ReferUsername" asp-route-page="@ViewBag.ReferPage">Back to List</a>
	}

	@if (ViewBag.ShowUserFunctions)
	{
		@if (ViewBag.UserHasPosted)
		{
			<a asp-controller="Bookmarks" asp-action="Edit" asp-route-guid="@Model.Guid" asp-route-username="@ViewBag.Username">Edit (e)</a>
			<a asp-controller="Bookmarks" asp-action="Delete" asp-route-guid="@Model.Guid" asp-route-username="@Model.Username">Delete (d)</a>
		}
		else
		{
			@if (ViewBag.UserHasSaved)
			{
				<form method="post" asp-controller="Bookmarks" asp-action="Forget">
					<input id="guidinput" asp-for="Guid" class="form-control" value="@Model.Guid" hidden />
					<input type="submit" value="Forget">
				</form>
			}
			else
			{
				<form method="post" asp-controller="Bookmarks" asp-action="Save">
					<input id="guidinput" asp-for="Guid" class="form-control" value="@Model.Guid" hidden />
					<input type="submit" value="Save">
				</form>
			}
		}

		<a asp-controller="Bookmarks" asp-action="Create" asp-route-username="@ViewBag.Username">Create (c)</a>

	}
</div>
