@model reffffound.Models.Bookmark

<h4>Edit Bookmark</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Bookmarks" asp-action="Edit" asp-route-guid="@Model.Guid">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="Usercontext" class="control-label"></label>
                <input asp-for="Usercontext" class="form-control" value="@ViewBag.Username" />
                <!-- <span asp-validation-for="" class="text-danger"></span> -->
            </div>
			<!--<div class="form-group">
				<label asp-for="Guid" class="control-label"></label>
				<input asp-for="Guid" class="form-control" />
				<span asp-validation-for="Guid" class="text-danger"></span>
			</div>-->
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" value="@Model.Url" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" value="@Model.Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
				<input asp-for="Image" class="form-control" value="@Model.Image" />
                <span asp-validation-for="Image" class="text-danger"></span>
				<image style="max-width:500px;height:auto;" src="@Model.Image"></image>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="Savedby" class="control-label"></label>
                <input asp-for="Savedby" class="form-control" />
                <span asp-validation-for="Savedby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Context1link" class="control-label"></label>
                <input asp-for="Context1link" class="form-control" />
                <span asp-validation-for="Context1link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Context1img" class="control-label"></label>
                <input asp-for="Context1img" class="form-control" />
                <span asp-validation-for="Context1img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Context2link" class="control-label"></label>
                <input asp-for="Context2link" class="form-control" />
                <span asp-validation-for="Context2link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Context2img" class="control-label"></label>
                <input asp-for="Context2img" class="form-control" />
                <span asp-validation-for="Context2img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Context3link" class="control-label"></label>
                <input asp-for="Context3link" class="form-control" />
                <span asp-validation-for="Context3link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Context3img" class="control-label"></label>
                <input asp-for="Context3img" class="form-control" />
                <span asp-validation-for="Context3img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usercontext" class="control-label"></label>
                <input asp-for="Usercontext" class="form-control" />
                <span asp-validation-for="Usercontext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullUrl" class="control-label"></label>
                <input asp-for="FullUrl" class="form-control" />
                <span asp-validation-for="FullUrl" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <input style="margin-top:24px" type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div class="staticmenu">
	<a asp-controller="Bookmarks" asp-action="List" asp-route-username="@ViewBag.Username" asp-route-filter="post" asp-route-page="1">Back to List</a>|
	<a>Edit (e)</a>|
	<a asp-controller="Bookmarks" asp-action="Delete" asp-route-guid="@Model.Guid">Delete (d)</a> 
</div>
