@model reffffound.Models.Bookmark
@{
    ViewData["Title"] = "Feed Null Four..";
}

<div class="assets">
    <blockquote class="bookmarkblock">

      <p class="bookmarkheader">
        <span class="quoted">Quoted From:</span>&nbsp;<span class="headerlink">@Model.Title</span><br />
        <span class="headerurl">@Html.DisplayFor(model => model.Url)</span>
    </p>

    <table>
        <tr>
            <td style="width:500px;" valign="top">
				<p class="bookmarkimage">
					<image style="max-width:500px;height:auto;" src="@Model.Image"></image><br/>
					<span class="flaglink"><a class="" asp-controller="Home" asp-action="Copyright">Flag this image</a></span>
				</p>
            </td>
            <td style="vertical-align:top;width:75px;height:auto;">
                <!-- No Contextlinks here. yet.. -->
            </td>
        </tr>
    </table>
    
    <p class="bookmarkfooter componentTodo">
        <span class="posted"> Posted on @Html.DisplayFor(model => model.Timestamp) </span><br/>
        <!--Saved By @Model.Savedby People: -->
    </p>

    </blockquote>
</div>

<div class="pagination">
	<p class="pagination componentTodo">
	  <a class="nav-link" asp-area=""
		 asp-controller="Bookmarks" asp-action="@ViewBag.NextAction" asp-route-username="@ViewBag.Username">Go back to Feed</a>
   </p>
</div>
