@model IEnumerable<reffffound.Models.Bookmark>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
	ViewData["Title"] = "RE: FFFFOUND! image bookmarking";
}

<div class="assets">
  @foreach (var bookmark in Model)
  {
	<blockquote class="bookmarkblock">
	  <p class="bookmarkheader">
		  <span class="quoted">Quoted From:</span>&nbsp;
		  <span class="headerlink">
			  <a target="_blank" href="@bookmark.Url">@bookmark.Title</a
		  </span><br />
		  <span class="headerurl">@bookmark.Url</span>
	  </p>

	  <table>
	  <tr>
		  <td style="width:500px;" valign="top">
			  <p class="bookmarkimage">
				  <a class="" asp-area="" asp-controller="Bookmarks" asp-action="Details" asp-route-guid="@bookmark.Guid" asp-route-referAction="List" asp-route-referUsername="@ViewBag.Username" asp-route-referPage="@ViewBag.CurrentPage">
					  <image style="max-width:500px;height:auto;" src="@bookmark.Image"></image>
				  </a>
			  </p>
		  </td>
		  <td style="vertical-align:top;width:100px;height:auto;border-left:1px solid #f0f0f0;padding-left:18px;">
			@if (bookmark.Context1img != "" && bookmark.Context1link != "")
			{
				<div class="related-xs" style="margin-left:18px; margin:18px;">
					<a class="" asp-area="" asp-controller="Bookmarks" asp-action="Details" asp-route-guid="@bookmark.Context1link" asp-route-guid="@bookmark.Guid" asp-route-referAction="List" asp-route-referUsername="@ViewBag.Username" asp-route-referPage="@ViewBag.CurrentPage">
						<image style="max-width:100px;height:auto;" src="@bookmark.Context1img"></image>
					</a>
				</div>
			}
			@if (bookmark.Context2img != "" && bookmark.Context2link != "")
			{
				<div class="related-xs" style="margin-left:18px; margin:18px;">
					<a class="" asp-area="" asp-controller="Bookmarks" asp-action="Details" asp-route-guid="@bookmark.Context2link" asp-route-guid="@bookmark.Guid" asp-route-referAction="List" asp-route-referUsername="@ViewBag.Username" asp-route-referPage="@ViewBag.CurrentPage">
						<image style="max-width:100px;height:auto;" src="@bookmark.Context2img"></image>
					</a>
				</div>
			}
			@if (bookmark.Context3img != "" && bookmark.Context3link != "")
			{
				<div class="related-xs" style="margin-left:18px; margin:18px;">
					<a class="" asp-area="" asp-controller="Bookmarks" asp-action="Details" asp-route-guid="@bookmark.Context3link" asp-route-guid="@bookmark.Guid" asp-route-referAction="List" asp-route-referUsername="@ViewBag.Username" asp-route-referPage="@ViewBag.CurrentPage">
						<image style="max-width:100px;height:auto;" src="@bookmark.Context3img"></image>
					</a>
				</div>
			}
		</td>
	  </tr>
	  </table>
	  <p class="bookmarkfooter componentTodo">
		  <span class="posted">Posted on: @bookmark.Timestamp </span><br>
		  <a class="savedby" asp-area="" asp-controller="Bookmarks" asp-action="Details" asp-route-guid="@bookmark.Guid" asp-route-guid="@bookmark.Guid" asp-route-referAction="List" asp-route-referUsername="@ViewBag.Username" asp-route-referPage="@ViewBag.CurrentPage">Saved By @bookmark.Savedby People</a>
	  </p>
	</blockquote>
  }
</div>

<div class="pagination">
	<p class="pagination componentTodo">
        <a class="@ViewBag.PaginationFirstCss" asp-area="" asp-controller="Bookmarks" asp-action="List" asp-route-username="@ViewBag.Username" asp-route-filter="post" asp-route-page="1">First</a>
        <a class="" asp-area="" asp-controller="Bookmarks" asp-action="List" asp-route-username="@ViewBag.Username" asp-route-filter="post" asp-route-page="@ViewBag.Previous">Previous</a>
        <a class="current">@ViewBag.CurrentPage</a>
        <a class="" asp-area="" asp-controller="Bookmarks" asp-action="List" asp-route-username="@ViewBag.Username" asp-route-filter="post" asp-route-page="@ViewBag.NextPage">Next</a>
    </p>
</div>

<div class="staticmenu">
	@if(@ViewBag.ShowUserFunctions)
	{
		<a asp-controller="Bookmarks" asp-action="Create" asp-route-username="@ViewBag.Username">Create (c)</a>
	}

	<a class="inactive" href="javascript:void(0);" onmousedown="" onclick="return false;">tile(v)</a>
	<a class="inactive" href="javascript:void(0);" onmousedown="" onclick="return false;">top(t)</a>
	<a class="" asp-area="" asp-controller="Bookmarks" asp-action="List" asp-route-username="@ViewBag.Username" asp-route-filter="post" asp-route-page="@ViewBag.PreviousPage">previous (p)</a>
	<a class="" asp-area="" asp-controller="Bookmarks" asp-action="List" asp-route-username="@ViewBag.Username" asp-route-filter="post" asp-route-page="@ViewBag.NextPage">next (n)</a>
	<!-- use UserManager and Role -->
	@if(@ViewBag.ShowUserFunctions && @ViewBag.IsAdminUser)
	{
		<a class="nav-link text" title="Hydrate Database" asp-area="" asp-controller="Bookmarks" asp-action="Hydrate">Hydrate</a>
	}
</div>

