@page
@model IEnumerable<reffffound.Models.Bookmark>
@{
}

<i>IT works.</i>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Guid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Savedby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Context1link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Context1img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Context2link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Context2img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Context3link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Context3img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usercontext)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Guid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Savedby)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Context1link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Context1img)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Context2link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Context2img)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Context3link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Context3img)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usercontext)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullUrl)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>